## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
filtered_df = application_df.drop(columns=["NAME", "EIN"])
filtered_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Determine the number of unique values in each column.
filtered_cat = filtered_df.dtypes[filtered_df.dtypes == "object"].index.tolist()
filtered_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [13]:
# Look at APPLICATION_TYPE value counts for binning
filtered_df[filtered_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [17]:
# Look at APPLICATION_TYPE value counts for binning
app_type = filtered_df['APPLICATION_TYPE'].value_counts().reset_index()
app_type

   index  APPLICATION_TYPE
0     T3             27037
1     T4              1542
2     T6              1216
3     T5              1173
4    T19              1065
5     T8               737
6     T7               725
7    T10               528
8     T9               156
9    T13                66
10   T12                27
11    T2                16
12   T25                 3
13   T14                 3
14   T29                 2
15   T15                 2
16   T17                 1

In [19]:
# Choose a cutoff value and create a list of application types to be replaced
application_types_to_replace = []
application_types_to_replace = app_type[app_type['APPLICATION_TYPE'] <= 156]['index']

# Replace in dataframe
for app in application_types_to_replace:
    filtered_df['APPLICATION_TYPE'] = filtered_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
filtered_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts for binning
class_count = filtered_df['CLASSIFICATION'].value_counts().reset_index()
class_count

    index  CLASSIFICATION
0   C1000           17326
1   C2000            6074
2   C1200            4837
3   C3000            1918
4   C2100            1883
..    ...             ...
66  C4120               1
67  C8210               1
68  C2561               1
69  C4500               1
70  C2150               1

[71 rows x 2 columns]

In [26]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count_filtered = []
class_count_filtered = class_count[class_count['CLASSIFICATION'] > 1]
class_count_filtered

    index  CLASSIFICATION
0   C1000           17326
1   C2000            6074
2   C1200            4837
3   C3000            1918
4   C2100            1883
5   C7000             777
6   C1700             287
7   C4000             194
8   C5000             116
9   C1270             114
10  C2700             104
11  C2800              95
12  C7100              75
13  C1300              58
14  C1280              50
15  C1230              36
16  C1400              34
17  C7200              32
18  C2300              32
19  C1240              30
20  C8000              20
21  C7120              18
22  C1500              16
23  C1800              15
24  C6000              15
25  C1250              14
26  C8200              11
27  C1238              10
28  C1278              10
29  C1235               9
30  C1237               9
31  C7210               7
32  C2400               6
33  C1720               6
34  C4100               6
35  C1257               5
36  C1600               5
37  C1260               3
38  C2710               3
39     C0               3
40  C3200               2
41  C1234               2
42  C1246               2
43  C1267               2
44  C1256               2

In [28]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = []
classifications_to_replace = class_count[class_count['CLASSIFICATION'] < 1883]['index']

# Replace in dataframe
for cls in classifications_to_replace:
    filtered_df['CLASSIFICATION'] = filtered_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
filtered_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [32]:
filtered_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [36]:
# Convert categorical data to numeric with `pd.get_dummies`
numerical_df = pd.get_dummies(filtered_df)
numerical_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [39]:
# Split our preprocessed data into our features and target arrays
y = numerical_df["IS_SUCCESSFUL"].values
X = numerical_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

C:\Users\18162\AppData\Local\Temp\ipykernel_16160\120369778.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = numerical_df.drop(["IS_SUCCESSFUL"],1).values

In [42]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [44]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  120
hidden_nodes_layer2 = 90

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="LeakyReLU")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="LeakyReLU"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 120)               5280

 dense_1 (Dense)             (None, 90)                10890

 dense_2 (Dense)             (None, 1)                 91

=================================================================
Total params: 16261 (63.52 KB)
Trainable params: 16261 (63.52 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [48]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [52]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5768 - accuracy: 0.7201
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5611 - accuracy: 0.7250
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5575 - accuracy: 0.7273
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5551 - accuracy: 0.7274
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5541 - accuracy: 0.7289
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7296
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7305
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7298
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7299
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7292
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7319
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7299
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7300
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7310
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - accuracy: 0.7303
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7319
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7310
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7314
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7328
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7312
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7319
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7330
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7321
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7321
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7318
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7328
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7322
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7335
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7311
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7318
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7318
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7329
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7329
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7313
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7324
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7330
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7349
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7312
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7333
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7340
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7336
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7329
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7329
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7345
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7339
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7318
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7334
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7333
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7350
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7340
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7334
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7343
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7346
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7328
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7339
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7341
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7342
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7347
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7333
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7341
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7349
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7345
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7357
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7337
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7357
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7336
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7355
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7349
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7349
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7350
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7363
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7346
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7350
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7325
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7350
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7354
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7362
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7351
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7361
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7354
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7358
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7351
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7339
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7357
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7345
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7357
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7356
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7351
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7352
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7352
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7371
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7350
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7375
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7357
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7355
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7357
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7368
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7370
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7345
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7349

In [55]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5551 - accuracy: 0.7237 - 423ms/epoch - 2ms/step
Loss: 0.5550838708877563, Accuracy: 0.7237317562103271

In [58]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')